.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 5%;
}
.hero img{
    width: 380px;
    background: var(--mainColor);
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 20%;
    animation-name: heroImage;
    animation-timing-function: ease-in-out;
    animation-duration: 100s;
    animation-iteration-count: infinite;

}

.heroText{
    flex-basis: 40%;
}
.heroText h2{
    font-size: 40px;
}
.heroText h2 span{
    color: var(--mainColor);
}
p span{
    color: var(--mainColor);
}

.hero i{
    margin-top: 20px;
    margin-right: 30px;
    font-size: 30px;
}

.hero .codeShadow{
    font-size: 400px;
    position: absolute;
    left: -200px;
    top: 200px;
    z-index: -100;
    filter: blur(20px);
}















/* animation for the image */
@keyframes heroImage {
    0%{
        border-top-left-radius: 10%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 90%;
        border-bottom-left-radius: 20%;

    }
    10%{
        border-top-left-radius: 20%;
        border-top-right-radius: 80%;
        border-bottom-right-radius: 60%;
        border-bottom-left-radius: 0%;

    }
    20%{
        border-top-left-radius: 40%;
        border-top-right-radius: 70%;
        border-bottom-right-radius: 20%;
        border-bottom-left-radius: 40%;

    }
    30%{
        border-top-left-radius: 40%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 30%;
    

    }
    40%{
        border-top-left-radius: 10%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 90%;
        border-bottom-left-radius: 20%;

    }
    50%{
        border-top-left-radius: 10%;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 80%;
        border-bottom-left-radius: 20%;

    }
    60%{
        border-top-left-radius: 20%;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 40%;

    }
    70%{
        border-top-left-radius: 40%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 30%;
    

    }
    80%{
        border-top-left-radius: 40%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 30%;
    

    }
    90%{
        border-top-left-radius: 40%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 30%;
    

    }
    100%{
        border-top-left-radius: 10%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 90%;
        border-bottom-left-radius: 20%;
        

    }
    
}



/* ----------making responsive--------- */
@media(max-width:1479px){
    .hero .codeShadow{
        display: none;
    }
}

@media(max-width:1197px){
    .hero{
        justify-content: space-evenly;
       

    }
    .hero .heroText{
        flex-basis: 60%;
        margin-left: 20px;
    }
    .hero img{
        width: 300px;
        margin-right: 20px;
    }
}

@media (max-width:833px){
    .heroText h2{
        font-size: 30px;
        
    }
}
@media (max-width:714px){
    .hero img{
        margin-right: -100px;
        max-width: 300px;
    }
}
@media (max-width:650px){
    .hero{
        flex-direction: column-reverse;
        margin: 0;
        margin-top: 20px;
    }
    .hero img{
        width: 100px;
        animation: none;
        border-radius:40px;
        margin-right:0px;
    }
    .heroText{
        text-align: center;
        /* margin-right: -100px; */
        margin: auto;
        margin-top: 20px;
    }
    .heroText h2{
        font-size: 40px;
        text-align: center;
    }
}

@media (max-width:434px){
    .heroText h2{
        font-size: 25px;
    }
}