.title{
    margin-top: 100px;
    text-align: center;
}
.title h1{
    color: var(--mainColor);
    

}
.title hr{
    max-width: 150px;
    height: 5px;
    margin: auto;
    border: none;
    border-radius: 50%;
    background:var(--mainColor);
}

@media (max-width:503px){
    .title{
        margin:100px auto 0 50px;
    }
    .title h1{
        font-size: 30px;
    }

}