.footer{
    background: var(--mainColor);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.footer i{
    color: #121212;
}
.footer h3{
   font-size: 30px;
    
}

.footer .socialMedia i{
    margin-right: 20px;
    
}
.footer .socialMedia i:hover{
    color: #ffff;
}

@media(max-width:600px){
    .footer p{
        font-size: 13px;
    }
    .footer h3{
        font-size: 20px;
    }
}