.footer{
    background: var(--mainColor);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.footer i{
    color: #121212;
}
.footer h3{
   font-size: 30px;
    
}

.footer .socialMedia i{
    margin-right: 20px;
    
}
.footer .socialMedia i:hover{
    color: #ffff;
}
.footer li i{
    background: #121212;
    padding: 20px;
    width: 20px;
    height: 10px;
    color: var(--mainColor);
    border: 2px solid #121212;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 20px;
    animation-name: goHome;
    animation-timing-function:ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}
@keyframes goHome {
    0%{
        top: 130px;

    }
    50%{
        top: 100px;

    }
    100%{
        top: 130px;

    }
    
}

@media(max-width:600px){
    .footer p{
        font-size: 13px;
    }
    .footer h3{
        font-size: 20px;
    }
}